<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <!--默认开启二级缓存 还需要在mapper.xml中开启二级缓存和把实体类实现序列化接口-->
        <!--<setting name="cacheEnabled" value="true"/>-->
        <!--开启延迟加载-->
        <setting name="lazyLoadingEnabled" value="true"/>
        <setting name="aggressiveLazyLoading" value="false"/>
    </settings>
    <!--批量定义别名-->
    <!--<typeAliases>
        <package name="cn.jims.entity"/>
    </typeAliases>-->
    <!--配置分页插件-->
    <!--<plugins>
        <plugin interceptor="com.github.pagehelper.PageHelper">
            <property name="dialect" value="mysql"/>
        </plugin>
    </plugins>-->
</configuration>